* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

body {
  font-family: "Lato", sans-serif;
  color: #505050;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

main {
  background-color: #f1fdfd;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section-line {
  border-bottom: 1px solid rgba(208, 212, 216, 0.5);
}

.title {
  font-family: Georgia;
  text-align: center;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: #4e5665;
}

.container-content {
  max-width: 970px;
  margin: 0 auto;
}

.header-top {
  background-color: #e58446;
  background-image: url("../img/top-bg.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
}

.header-top-inner {
  border: 2px solid #ecb84c;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #fff;
}

.header-title {
  font-weight: bold;
  font-size: 200px;
  line-height: 227px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  margin: auto;
  font-family: Georgia;
}

.header-text {
  font-family: Georgia;
  font-size: 24px;
  line-height: 27px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  white-space: nowrap;
  align-items: center;
  margin-bottom: -12px;
}

.header-text::after,
.header-text::before {
  content: "";
  border-top: 2px solid #ecb84c;
  width: 100%;
}
.header-text::after {
  margin-left: 30px;
}

.header-text::before {
  margin-right: 30px;
}

.menu {
  border-bottom: 1px solid rgba(208, 212, 216, 0.5);
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list-link {
  padding: 24px 10px 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #909090;
  margin: 0 6px;
  border-bottom: 4px solid transparent;
  transition: all 0.5s;
}
.menu-list-link:hover {
  color: #4e5665;
  border-bottom: 4px solid #ecb84c;
}

.reason {
  padding: 80px 0 0;
}

.reason-title {
  margin-bottom: 22px;
}

.reason-link {
  text-align: right;
}

.reason-link a {
  font-weight: 700;
  color: #ecb84c;
  margin-bottom: 36px;
}

.reason-statistics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 80px;
}

.reason-statistics-num {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  margin-top: 32px;

  color: #4e5665;
}

.reason-statistics-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;

  color: #909090;
}

.about {
  padding: 80px 0 0;
}

.about-title {
  margin-bottom: 13px;
}

.about-text {
  margin-bottom: 72px;
}

.about-item {
  margin-bottom: 100px;
  padding: 70px 0;
  background-repeat: no-repeat;
  background-position: right;
  filter: drop-shadow(0px 2px 24px rgba(0, 0, 0, 0.3));
}

.about-box {
  padding: 33px 40px;
  background-color: #fff;
  max-width: 470px;
  position: relative;
}
.about-box::after,
.about-box::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
}

.about-box::before {
  background-image: url("../img/decor-left.svg");
  top: 19px;
  left: 19px;
}

.about-box::after {
  background-image: url("../img/decor-right.svg");
  bottom: 19px;
  right: 19px;
}

.about-box-title {
  font-family: Georgia;
  font-size: 24px;
  font-weight: 400;
  line-height: 25px;
  color: #4e5665;
  margin-bottom: 20px;
}

.about-item:nth-child(2n) {
  background-position: left;
}

.about-item:nth-child(2n) .about-box {
  margin-left: auto;
}

.about-item:nth-child(2n) .about-box::before {
  background-image: url("../img/decor-3.svg");
  right: 19px;
  left: auto;
}

.about-item:nth-child(2n) .about-box::after {
  background-image: url("../img/decor-4.svg");
  right: auto;
  left: 19px;
}

.about-preview-title {
  margin-bottom: 38px;
}

.about-preview-text {
  margin: 53px auto 80px;
}
.about-images-box {
  padding-top: 73px;
  position: relative;
}

.about-dot {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(236, 184, 76, 0.75);
  position: absolute;
}

.about-dot-1 {
  top: 190px;
  left: 148px;
}

.about-dot-2 {
  top: 188px;
  left: 495px;
}

.about-dot-3 {
  top: 147px;
  right: 372px;
}

.about-dot-4 {
  top: 350px;
  right: 300px;
}

.about-dot-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: #505050;
  position: absolute;
  white-space: nowrap;
  top: -140px;
  left: 150px;
  display: none;
}

.about-dot::before {
  content: "";
  position: absolute;
  background-image: url("../img/line-3.svg");
  width: 244px;
  height: 122px;
  top: -113px;
  left: 25px;
  display: none;
}

.about-dot::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffd600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-dot:hover::before {
  display: block;
}

.about-dot:hover .about-dot-text {
  display: block;
}

.photo {
  padding: 80px 0;
}

.photo-title {
  margin-bottom: 42px;
}

.photo-text {
  padding-bottom: 48px;
  margin-bottom: 56px;
  position: relative;
}

.photo-text::after {
  content: "";
  position: absolute;
  width: 270px;
  height: 1px;
  background-color: rgba(208, 212, 216, 0.5);
  bottom: 0;
  margin: 0 auto;
}

.photo-slider {
  max-width: 640px;
  margin: 0 auto;
  border-radius: 4px;
  filter: drop-shadow(0px 2px 24px rgba(0, 0, 0, 0.3));
}

.slick-arrow {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ecb84c;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  filter: drop-shadow(0px 2px 24px rgba(0, 0, 0, 0.3));
}

.slick-prev {
  left: -20px;
}

.slick-next {
  right: -20px;
}

.footer {
  background: #f8f8f8;
  padding: 55px 0 32px;
}

.footer-items {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  width: 140px;
}

.footer-item:first-child {
  width: 320px;
  padding-left: 200px;
}

.footer-item-blog {
  width: 300px;
}

.footer-item-title {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #4e5665;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-item-list {
  list-style: none;
}

.footer-item-link {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 8px;
}

.footer-item-link-social {
  padding-left: 28px;
  position: relative;
}

.footer-item-link-social::before {
  content: "";
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
}
.footer-item-link-message::before {
  background-image: url("../img/message.svg");
  width: 17px;
  top: 1px;
}

.footer-item-link-fcb::before {
  background-image: url("../img/fcb.svg");
}

.footer-item-link-inst::before {
  background-image: url("../img/inst.svg");
}

.footer-item-link-youtube::before {
  background-image: url("../img/youtube.svg");
}

.footer-item-link-mail::before {
  background-image: url("../img/mail.svg");
  height: 13px;
  top: 2px;
}

.footer-copy {
  padding-top: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
}

.menu-btn {
  display: none;
}

.about-images-box img {
  max-width: 100%;
}

@media (max-width: 1080px) {
  .about-dot-1 {
    top: 166px;
    left: 75px;
  }

  .about-dot-2 {
    top: 188px;
    left: 340px;
  }

  .about-dot-3 {
    top: 133px;
    right: 260px;
  }

  .about-dot-4 {
    top: 275px;
    right: 200px;
  }

  .footer-item:first-child {
    width: 140px;
    padding-left: 0px;
  }
}

@media (max-width: 840px) {
  .about-box {
    margin: 0 auto;
  }
  .about-item:nth-child(2n) {
    background-position: top;
  }
  .about-item {
    padding: 382px 0 70px;
    background-position: top;
    margin-bottom: 0;
  }
  .about-dot {
    display: none;
  }
  .about-images-box {
    padding-top: 0;
  }
  .footer-items {
    flex-wrap: wrap;
  }
  .footer-item {
    width: 50%;
    margin-bottom: 35px;
    padding-right: 25px;
  }
}

@media (max-width: 700px) {
  .header-title {
    font-size: 128px;
    line-height: 150px;
  }
  .header-text {
    font-size: 14px;
  }
  .menu {
    position: relative;
  }

  .menu-btn {
    display: block;
    width: 40px;
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 40px;
  }

  .menu-btn span {
    display: block;
    margin-bottom: 10px;
    background-color: #ecb84c;
    height: 4px;
  }

  .menu-list {
    display: none;
    padding-top: 60px;
    text-align: center;
    border-bottom: 4px solid #ecb84c;
  }

  .menu-list-link {
    display: block;
    border-top: 4px solid #ecb84c;
  }

  .menu-list-link:hover {
    color: #4e5665;
    border-bottom: 4px solid transparent;
  }
.slick-next {
  right: 20px;
}

.slick-prev {
  left: 20px;
}

}

@media (max-width: 540px) {
  .header-title {
    font-size: 84px;
    line-height: 100px;
  }
  .header-text {
    font-size: 10px;
  }

  .title {
    font-size: 24px;
    line-height: 28px;
  }
  body {
    font-size: 15px;
    line-height: 24px;
  }
  .reason-statistics {
    display: block;
  }

  .reason-statistics-item {
    margin-bottom: 30px;
  }
}

/* @media (min-width: 700px) {
  .menu-list {
    display: flex !important;
  }
} */


@media (max-width: 470px) {

  .footer-item {
    width: 100%;
    padding-right: 0;
  }
  .footer-items {
    display: block;
  }
}