* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

body {
  font-family: "Lato", sans-serif;
  color: #505050;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section-line {
    border-bottom: 1px solid rgba(208, 212, 216, 0.5);
}

.container-content {
  max-width: 970px;
  margin: 0 auto;
}

.header-top {
  background-color: #e58446;
  background-image: url("../img/top-bg.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
}

.header-top-inner {
  border: 2px solid #ecb84c;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #fff;
}

.header-title {
  font-weight: bold;
  font-size: 200px;
  line-height: 227px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  margin: auto;
  font-family: Georgia;
}

.header-text {
  font-family: Georgia;
  font-size: 24px;
  line-height: 27px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  white-space: nowrap;
  align-items: center;
  margin-bottom: -12px;
}

.header-text::after,
.header-text::before {
  content: "";
  border-top: 2px solid #ecb84c;
  width: 100%;
}
.header-text::after {
  margin-left: 30px;
}

.header-text::before {
  margin-right: 30px;
}

.menu {
  border-bottom: 1px solid rgba(208, 212, 216, 0.5);
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list-link {
  padding: 24px 10px 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #909090;
  margin: 0 6px;
  border-bottom: 4px solid transparent;
  transition: all 0.5s;
}
.menu-list-link:hover {
  color: #4e5665;
  border-bottom: 4px solid #ecb84c;
}

.reason {
  padding: 80px 0 0;
}
.reason-title {
  font-family: Georgia;
  text-align: center;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: #4e5665;
  margin-bottom: 22px;
}

.reason-link {
  text-align: right;
}

.reason-link a {
  font-weight: 700;
  color: #ecb84c;
  margin-bottom: 36px;
}

.reason-statistics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 80px;
}

.reason-statistics-num {
    font-weight: bold;
font-size: 22px;
line-height: 30px;
margin-top: 32px;


color: #4E5665;
}

.reason-statistics-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;

  color: #909090;
}

